* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

#container {
  width: 100%;
  max-width: 600px;
  padding: 20px;
}

.hidden {
  display: none;
}

h1, h2 {
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  width: 80%;
  margin-bottom: 20px;
  border: 2px solid #444;
  background-color: #222;
  color: white;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #444;
}

#options button {
  display: block;
  margin: 10px auto;
  background-color: #555;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#options button:hover {
  background-color: #666;
}
