* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    text-align: center;
    position: relative;
    max-width: 800px;
    width: 100%;
    padding: 20px;
    background-color: var(--tg-theme-bg-color);
    border-radius: 20px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.5);
}

.header {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 16px;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 600;
}

.gem, .telegramId {
    margin-left: 15px;
}

.quiz-container {
    margin-top: 120px;
}

.question {
    font-size: 28px;
    font-weight: 600;
    margin-top: 30px;
    color: #fff;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.answers {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.answers button {
    background-color: #1a1a1a;
    border: 2px solid #333;
    color: #fff;
    padding: 15px 30px;
    margin: 10px 0;
    width: 90%;
    max-width: 350px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.answers button:hover {
    background-color: #333;
    transform: translateY(-5px);
}

.answers button:active {
    transform: translateY(0);
}

.next-question {
    padding: 15px 30px;
    background-color: #444;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
    width: 80%;
    max-width: 350px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.next-question:hover {
    background-color: #555;
    transform: translateY(-5px);
}

.next-question:active {
    transform: translateY(0);
}

.correct {
    background-color: #4CAF50 !important;
    box-shadow: 0px 4px 10px rgba(76, 175, 80, 0.5) !important;
}

.incorrect {
    background-color: #f44336 !important;
    box-shadow: 0px 4px 10px rgba(244, 67, 54, 0.5) !important;
}

@media (max-width: 600px) {
    .quiz-container {
        margin-top: 50px;
    }

    .question {
        font-size: 24px;
    }

    .answers button, .next-question {
        width: 80%;
    }
}
